<?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <ComponentDefinition xmlns="http://www.ironspeed.com/designer" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:menuCG="urn:MenuTransformCodeGen"><Generator>Iron Speed Designer</Generator><Version>5.0</Version><Self><Name>Menu</Name><Type>Menu</Type><GenerateDirectory>Menu Panels</GenerateDirectory><Layout>Menu Panels\Menu.html</Layout><DisplayName>Menu</DisplayName><Description>(Description)</Description><CheckSum>-277635358-1740</CheckSum></Self></ComponentDefinition>