<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
    <title><GEN:Literal NAME="PageTitle"/></title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" href="../Styles/BaseStyles.css"/>
    </head>
    <body id="Body1" runat="server" class="pBack">
    <form id="Form1" method="post" runat="server"><BaseClasses:ScrollCoordinates id="ScrollCoordinates" runat="server"></BaseClasses:ScrollCoordinates>
        <BaseClasses:BasePageSettings id="PageSettings" runat="server"></BaseClasses:BasePageSettings>
        <GEN:TEMPLATE DESCRIPTION="A page containing a header, menu and footer." TYPE="Page" FILE="Pages/Page with Header and Menu.html"></GEN:TEMPLATE>
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
        <td class="pAlign">
        <table cellspacing="0" cellpadding="0" border="0" class="pbTable">
            <tr>
            <td class="pbTL"><img src="../Images/space.gif" alt=""/></td>
            <td class="pbT"><img src="../Images/space.gif" alt=""/></td>
            <td class="pbTR"><img src="../Images/space.gif" alt=""/></td>
            </tr>
            <tr>
            <td class="pbL"><img src="../Images/space.gif" alt=""/></td>
            <td class="pbC">
            <table cellspacing="0" cellpadding="0" border="0" class="pcTable">
            <tr>
                <td class="pcT" colspan="2">
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                <td>
                </td>
            </tr>
            </table>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
            <td><GEN:HEADER FILE="..\Header and Footer\Header.html" NAME="PageHeader"></GEN:HEADER></td>
            </tr>
            </table>
            </td>
            <td class="pcTR"></td>
            </tr>
            <tr>
                <td class="pcL">
                    <GEN:MENU FILE="..\Menu Panels\Menu.html" NAME="MenuV"></GEN:MENU></td>
                <td class="pcC">
                <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
                <tr>
                <td>
                    <GEN:MENU FILE="../Menu Panels/HorizontalMenu.html" NAME="Menu"></GEN:MENU></td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                        <td class="pContent">
                            <a name="StartOfPageContent"></a>
<GEN:TABLE NAME="IKKullanicilarTableControl">
    <!-- Begin Table Panel.html -->
<GEN:TEMPLATE DESCRIPTION="Table view to show or edit multiple records." TYPE="Show Multiple Records" FILE="Data Display\Show Table.xml"></GEN:TEMPLATE>
    <table class="dv" cellpadding="0" cellspacing="0" border="0"><tr>
    <td class="dh">
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
    <tr>
    <td class="dhel"><img src="../Images/space.gif" alt=""/></td><td class="dht" valign="middle"><GEN:HTML NAME="IKKullanicilarTitle"></GEN:HTML></td>
    <td class="dhtrc">
        <table id="CollapsibleRegionTotalRecords" style="display:none;" cellspacing="0" cellpadding="0" border="0">
        <tr>
        <td class="dhtrct"><GEN:TEXT NAME="IKKullanicilarTotalItemsText"></GEN:TEXT>&nbsp;<GEN:LABEL NAME="IKKullanicilarTotalItems"></GEN:LABEL></td>
        </tr>
        </table>
    </td>
    <td class="dher"><img src="../Images/space.gif" alt=""/></td>
    </tr>
    </table>
    </td>
    </tr><tr>
        <td class="dBody">
        <table id="CollapsibleRegion" style="display:;" cellspacing="0" cellpadding="0" border="0">
        <tr>
        <td>
        <table id="FilterRegion" cellpadding="0" cellspacing="3" border="0">
    <GEN:GROUP NAME="IKKullanicilarSearchGroup">
    <!-- Search & Filter Area -->
    <tr>
        <td class="fila"><GEN:TEXT NAME="IKKullanicilarSearchText"></GEN:TEXT></td>
        <td>
        <%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("IKKullanicilarTableControl$IKKullanicilarSearchButton")) %>
        <GEN:SEARCHFILTER NAME="IKKullanicilarSearchArea"></GEN:SEARCHFILTER>
        <%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("IKKullanicilarTableControl$IKKullanicilarSearchButton")) %>
        </td>
        <td class="filbc"><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="IKKullanicilarSearchButton" /></td>
    </tr>
    </GEN:GROUP><GEN:GROUP NAME="IKKullanicilarFilters">
            <tr>
            <td></td>
            <td></td>
            <td rowspan="100" class="filbc"><GEN:BUTTON FILE="../Shared/ThemeButton.html" NAME="IKKullanicilarFilterButton"></GEN:BUTTON></td> 
            </tr>
            
            <%= SystemUtils.GenerateEnterKeyCaptureBeginTag(FindControl("IKKullanicilarTableControl$IKKullanicilarFilterButton")) %>
                <tr>
                <td class="fila"><GEN:FIELDLABEL NAME="UnvanIDLabel"></GEN:FIELDLABEL></td><td><GEN:FIELDFILTER NAME="UnvanIDFilter"></GEN:FIELDFILTER></td></tr>
                <tr>
                <td class="fila"><GEN:FIELDLABEL NAME="FirmaIDLabel"></GEN:FIELDLABEL></td><td><GEN:FIELDFILTER NAME="FirmaIDFilter"></GEN:FIELDFILTER></td></tr>
            <%= SystemUtils.GenerateEnterKeyCaptureEndTag(FindControl("IKKullanicilarTableControl$IKKullanicilarFilterButton")) %>
            </GEN:GROUP></table>
        <div class="spacer"></div>
        <!-- Category Area -->
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
            <td>
            <table cellpadding="0" cellspacing="0" border="0"><tr>
            <!-- Pagination Area -->
            <td class="pr" colspan="100">
            <table id="PaginationRegion" cellspacing="0" cellpadding="0" border="0">
            <tr>
            <td><img src="../Images/paginationRowEdgeL.gif" alt=""/></td><GEN:GROUP NAME="IKKullanicilarButtons">
            <td class="prbbc"><img src="../Images/ButtonBarEdgeL.gif" alt=""/></td><td class="prbbc"><img src="../Images/ButtonBarDividerL.gif" alt=""/></td>
            <td class="prbbc"><GEN:ImageButton NAME="IKKullanicilarNewButton" /></td>
            <td class="prbbc"><GEN:ImageButton NAME="IKKullanicilarDeleteButton" /></td>
            <td class="prbbc"><GEN:ImageButton NAME="IKKullanicilarExportExcelButton" /></td>
            <td class="prbbc"><GEN:ImageButton NAME="IKKullanicilarRefreshButton" /></td>
            <td class="prbbc"><GEN:ImageButton NAME="IKKullanicilarResetButton" /></td><td class="prbbc"><img src="../Images/ButtonBarDividerR.gif" alt=""/></td><td class="prbbc"><img src="../Images/ButtonBarEdgeR.gif" alt=""/></td>
            </GEN:GROUP><td class="pra"><GEN:PAGINATION FILE="..\Shared\Pagination.html" NAME="IKKullanicilarPagination"></GEN:PAGINATION></td><td><img src="../Images/paginationRowEdgeR.gif" alt=""/></td>
            </tr>
            </table>
            </td>
            </tr><!--Table View Area -->
            <tr>
            <td class="tre">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" onkeydown="captureUpDownKey(this, event)">
            <!-- This is the table's header row -->
            <GEN:GROUP NAME="IKKullanicilarHeaderRow">
            <div id="AJAXUpdateHeaderRow">
            <tr class="tch">
            <th class="thc" colspan="3"><img src="../Images/space.gif" height="1" width="1" alt=""/></th><th class="thc" style="padding:0px;vertical-align:middle;"><GEN:SELECTION NAME="IKKullanicilarToggleAll"></GEN:SELECTION></th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="AdiLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="SoyadiLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="EpostaLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="GSMLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="FirmaIDLabel1"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="UnvanIDLabel1"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="YetkiTurIDLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="HesapIDLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="TCKimlikNoLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="IsTelefonuLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="KullaniciAdiLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="OlusturmaTarihiLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="OlusturanIDLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="DuzenlenmeTarihiLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="DuzenleyenIDLabel"></GEN:FIELDLABEL>
            </th>
            <th class="thc" scope="col"><GEN:FIELDLABEL NAME="AktifPasifLabel"></GEN:FIELDLABEL>
            </th></tr>
            </div>
            </GEN:GROUP><!-- Table Rows -->
            <GEN:ITEMTEMPLATE NAME="IKKullanicilarRecordRow">
            <div id="AJAXUpdateRecordRow">
            <tr>
                <td class="ticnb" scope="row"><GEN:IMAGEBUTTON NAME="IKKullanicilarRowViewButton"></GEN:IMAGEBUTTON></td>
                <td class="ticnb" scope="row"><GEN:IMAGEBUTTON NAME="IKKullanicilarRowEditButton"></GEN:IMAGEBUTTON></td>
                <td class="ticnb" scope="row"><GEN:IMAGEBUTTON NAME="IKKullanicilarRowDeleteButton"></GEN:IMAGEBUTTON></td>
                <td class="ticwb" onclick="moveToThisTableRow(this);"><GEN:SELECTION NAME="IKKullanicilarRecordRowSelection" TYPE="Single" /></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="Adi"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="Soyadi"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="Eposta"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="GSM"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="FirmaID"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="UnvanID"></GEN:FIELDVALUE></td>
            <td class="ttc" style="text-align: right;"><GEN:FIELDVALUE NAME="YetkiTurID"></GEN:FIELDVALUE></td>
            <td class="ttc" style="text-align: right;"><GEN:FIELDVALUE NAME="HesapID"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="TCKimlikNo"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="IsTelefonu"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="KullaniciAdi"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="OlusturmaTarihi"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="OlusturanID"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="DuzenlenmeTarihi"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="DuzenleyenID"></GEN:FIELDVALUE></td>
            <td class="ttc" ><GEN:FIELDVALUE NAME="AktifPasif"></GEN:FIELDVALUE></td>
            </tr>
            </div>
            </GEN:ITEMTEMPLATE>
            </table>
        </td>
        </tr>
        </table>
        </td>
        </tr>
        </table>
    </td>
    </tr>
    </table>
    </td>
    </tr>
    </table>
    </td>
</tr>
</table>
<!-- End Table Panel.html -->
</GEN:TABLE><div id="detailPopup" class="detailRolloverPopup" onmouseout="detailRolloverPopupClose();" onmouseover="clearTimeout(gPopupTimer);"></div>
                        </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
                </td>
                <td class="pcR"></td>
            </tr>
            <tr>
                <td class="pcBL"></td>
                <td class="pcB">
                <GEN:FOOTER FILE="..\Header and Footer\Footer.html" NAME="PageFooter"></GEN:FOOTER></td>
                <td class="pcBR"></td>
            </tr>
            </table>
            </td>
            <td class="pbR"><img src="../Images/space.gif" alt=""/></td>
            </tr>
            <tr>
            <td class="pbBL"><img src="../Images/space.gif" alt=""/></td>
            <td class="pbB"><img src="../Images/space.gif" alt=""/></td>
            <td class="pbBR"><img src="../Images/space.gif" alt=""/></td>
        </tr>
        </table>
        </td>
        </tr>
        </table>
        <asp:ValidationSummary id="ValidationSummary1" ShowMessageBox="true" ShowSummary="false" runat="server"></asp:ValidationSummary></form>
    </body>
</html>